<div id="page">
  <div id="content" class="flex gap-8 justify-items-start">
    <div id="main-content-start" class="flex-grow max-w-full">
      {% block mainContent %}
        {% cache %}
          <div class="default-content pb-8">
            {% include '_partials/contentBuilder' with {contentField: entry.mainContent, blocksDir: 'mainContent'} %}
          </div>
        {% endcache %}
      {% endblock %}
    </div>
  </div>
</div>
