<div class="hero-section-sub mb-8">
    <div class="hero h-[300px] md:h-[350px] lg:h-auto">
      <img class="h-full w-full object-cover" src="{{ entry.image.one.url('heroImageSubPage')}}" alt="">
    </div>
</div>